:root {
    --main-bg-color: #2c3e50;
    --secondary-bg-color: #ecf0f1;
    --accent-color: #3498db;
    --player-bg-color: #e74c3c;
    --card-bg-color: #f1c40f;
    --score-bg-color: #9b59b6;
    --text-color: #2c3e50;
}

.container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    padding-top: 3.5px;
    /* min-width: 315px; */
}

.game-area {
    background-color: var(--secondary-bg-color);
    width: 75%;
    display: flex;
    flex-direction: column;
    height: 84vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-right: 2px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
}

.game-show-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75%;
    position: relative;
}

.player {
    width: 180px;
    height: 180px;
    background-color: var(--player-bg-color);
    color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.player-name {
    font-size: 16px;
    margin: 0;
}

.player-score {
    font-size: 14px;
    margin: 5px 0 0;
}

.one {
    top: 0;
    left: 0;
}

.two {
    top: 0;
    right: 0;
}

.three {
    bottom: 0;
    left: 0;
}

.four {
    bottom: 0;
    right: 0;
}

.score {
    width: 190px;
    height: 190px;
    background-color: var(--score-bg-color);
    color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.divider {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin: 20px 0;
}

.shuffle-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25%;
}

.card {
    width: 120px;
    height: 120px;
    background-color: var(--card-bg-color);
    color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.chat-area {
    background-color: var(--secondary-bg-color);
    width: 28%;
    height: 84vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2px;
    box-sizing: border-box;
    text-align: center;
    margin-left: 0px;
    position:relative;
}

.sent-chats{
    max-height:72vh;
}
.chat {
    background-color: var(--main-bg-color);
    color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    /* padding: 10px; */
    /* margin-top: 20px; */
    display:block;
    height:40px;
    text-align: center;
    margin: auto;
    width:100%;
}

.sendBtn{
    background-color: blue;
    display: block;
    width:100%;
    color:white;
    margin-top: 2px;
}

.sendBtn:hover,.sendBtn:focus{
    color:blue;
    background-color: white;
    border:1px solid blue;
    outline:1px solid blue;
    offset: 0px;
}

.open-chat{
    position: absolute;
    right:0;
    bottom: 305px;
    background-color: #32bc69;
    height:40px;
    width:70px;
    color:white;
    text-align: center;
    line-height: 40px;
    display: none;
    z-index: 10;
}
@media (max-width: 1024px) {
    .player {
        width: 180px;
        height: 180px;
    }

    .score {
        width: 180px;
        height: 180px;
    }

    .card {
        width: 100px;
        height: 150px;
    }
}

@media (max-width: 920px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding-top: 16px;
    }

    .game-area {
        width: 100%;
        height: 80vh;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .chat-area {
        width: 100%;
        height: 30vh;
        display:none;/*change*/
        background-color: rgba(255,255,255,0.3);
        position:fixed;
        right: 0px;
        bottom: 50px;
        height: auto;
    }

    .open-chat{
        display: block;
    }
    .player {
        width: 160px;
        height: 160px;
    }

    .score {
        width: 180px;
        height: 180px;
    }

    .card {
        width: 120px;
        height: 150px;
    }
}

@media (max-width: 580px) {
    .player {
        width: 120px;
        height: 120px;
    }

    .score {
        width: 120px;
        height: 120px;
    }

    .card {
        width: 100px;
        height: 120px;
    }
}