:root {
    --main-bg-color: #2c3e50;
    --secondary-bg-color: #ecf0f1;
    --accent-color: #3498db;
    --player-bg-color: #e74c3c;
    --card-bg-color: #f1c40f;
    --score-bg-color: #9b59b6;
    --text-color: #2c3e50;
}

.container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    padding-top: 3.5px;
}

.game-area {
    background-color: var(--secondary-bg-color);
    width: 75%;
    display: flex;
    flex-direction: column;
    height: 84vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-right: 2px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
}

.game-show-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75%;
    position: relative;
}

.player {
    width: 180px;
    height: 180px;
    background-color: var(--player-bg-color);
    color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.player-name {
    font-size: 16px;
    margin: 0;
}

.player-score {
    font-size: 14px;
    margin: 5px 0 0;
}

.one {
    top: 0;
    left: 0;
}

.two {
    top: 0;
    right: 0;
}

.three {
    bottom: 0;
    left: 0;
}

.four {
    bottom: 0;
    right: 0;
}

.score {
    width: 190px;
    height: 190px;
    background-color: var(--score-bg-color);
    color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.divider {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin: 20px 0;
}

.shuffle-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25%;
}

.card {
    width: 120px;
    height: 120px;
    background-color: var(--card-bg-color);
    color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.chat-area {
    display: none; /* Initially hidden */
    background-color: var(--secondary-bg-color);
    width: 28%;
    height: 84vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2px;
    box-sizing: border-box;
    text-align: center;
    margin-left: 0px;
    position: relative;
}

.sent-chats {
    max-height: 72vh;
    overflow-y: auto;
}

.chat {
    background-color: var(--main-bg-color);
    color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 40px;
    width: calc(100% - 20px); /* Adjust width */
    padding: 10px;
    margin: 10px auto; /* Adjust margin for centering */
    box-sizing: border-box;
    display: block;
}

.sendBtn {
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    display: block;
    width: calc(100% - 20px); /* Adjust width */
    margin: 0 auto; /* Center button */
}

.sendBtn:hover ,.sendBtn:focus{
    border:0px;
    outline:0px;
}
.open-chat {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: var(--accent-color);
    color: white;
    width: 70px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}

@media (max-width: 1024px) {
    .player {
        width: 180px;
        height: 180px;
    }

    .score {
        width: 180px;
        height: 180px;
    }

    .card {
        width: 100px;
        height: 150px;
    }
}

@media (max-width: 920px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding-top: 16px;
    }

    .game-area {
        width: 100%;
        height: 80vh;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .chat-area {
        display: block; /* Show chat area on smaller screens */
        position: fixed; /* Fix position for better usability */
        top:60px;
        right: 0;
        width: 100%;
        max-height: 30vh; /* Limit height */
        overflow-y: auto; /* Enable scrolling if content exceeds height */
        background-color: var(--secondary-bg-color);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
    }

    .open-chat {
        display: block; /* Ensure chat open button is visible */
        position: fixed;
        top: 80px; /* Adjust position as needed */
        right: 10px; /* Adjust position as needed */
        background-color: var(--accent-color);
        color: white;
        width: 70px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
        z-index: 10;
    }

    .player {
        width: 160px;
        height: 160px;
    }

    .score {
        width: 180px;
        height: 180px;
    }

    .card {
        width: 120px;
        height: 150px;
    }
}

@media (max-width: 580px) {
    .player {
        width: 120px;
        height: 120px;
    }

    .score {
        width: 120px;
        height: 120px;
    }

    .card {
        width: 100px;
        height: 120px;
    }
}

