.header{
    background-color:black;
    height:8vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    gap:10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow:visible;
}

.header a:hover{
    color:white;
}

.header a:active,a:focus{
    color:red;
}


.logout-panel{
    min-width:100%;
    min-height:100%;
    background-color: rgba(214, 199, 199, 0.1);
    /* display: none; */
    position:absolute;
    top:0;
    right:0;
    z-index: 999;
    display: grid;
    place-items: center;
  }

  .logout-box{
    width:200px;
    height:100px;
    background-color: rgb(242, 242, 86)
    /* margin-left: 20px; */
  }
 

  .logout-box p{
    text-align: center;
    margin-top: 10px;
    color:black;
  }

  .logout-options{
    margin-top:25px;
    display: flex;
    justify-content: space-evenly;
  }

  .logout-options button{
    width:50px;
    padding: 5px;
  }


@media screen and (max-width: 350px) {
    .header{
        justify-content: space-evenly;
        gap:2px;
    }
}

